* {
  margin: 0;
  padding: 0;
}
body {
background-image: url(/Photos/wp2848469.jpg);
width: 100%;
height: 100%;
background-position:center;
background-repeat: no-repeat;
background-attachment: fixed;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 509px;
  height: 509px;
  padding: 15px;
  background: #5f5e5e94;
  border-radius: 5px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff79;
  border-radius: 3px;
}
input[type="date"] {
  display: inline-block;
  border: none;
  background: #ffffff79;
  width: 20%;
  border-radius: 3px;
}
