@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-image: url(/Photos/city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;

  font-family: "Radio Canada Big", sans-serif;
  background-color: #ffffff;
}
hr{
  margin-bottom:80px ;
}
h1{
  font-family: "Radio Canada Big", sans-serif;
  margin: 25px 0px 25px 0px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0),
    0 -1px black;
}