@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-image: url(/Photos/city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

form {
  display: flex;
  justify-content: center;
  width: 100%;

  height: 700px;

  font-family: "Radio Canada Big", sans-serif;
  background-color: #ffffff;
}
hr {
  margin-bottom: 80px;
}
.newflats {
  border-bottom: 1px solid black;
}
.regbutton {
  font-family: "Radio Canada Big", sans-serif;
width: 250px;
  background-color: rgb(85, 85, 85);
  color: white;
  height: 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.regbutton:hover {
  background-color: black;
}
input[type="date"] {
  cursor: pointer;
  border-radius: 65px;
  border: none;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(65, 65, 65, 0.404);
}
.section1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 700px;

  font-family: "Radio Canada Big", sans-serif;
  background-color: #ffffff;
  margin:0px 155px;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-family: "Radio Canada Big", sans-serif;
  margin: 25px 0px 25px 0px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px rgb(0, 0, 0), 2px 0 rgb(0, 0, 0),
    0 -1px black;
}